/* Reset */
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

/* Images */
.player img {
    width: 260px;
  
}
.opponent img {
    width: 300px;
   
}
.buttons img {
    width: 140px;
    height: auto;
}

/* General */
body {
    border: 3px solid black;
    background-color: rgba(192, 190, 190, 0.521);
    font-size: 22px;
    /* color: rgb(80, 66, 35); */
    color: black;

    position: relative;
    width: 100%;
    background-image: url("../img/desert.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
.intro {
   padding-top: 150px;
   
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Playfield */
.playfield {
   display: flex;
   justify-content: center;
   padding: 0 60px;
   padding-top: 200px;
   padding-bottom: 80px;
}
.player, .opponent {
    text-align: center;
    flex: 1; 
    font-size: 18px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    gap: 60px;
    font-weight: bold;
    background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0));
}
#playerHealth, #aiHealth {
    border: 1.5px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: rgba(243, 41, 41, 0.747);
    width: fit-content;
    margin: 0 auto;
}

#playerHealth {
    background-color: rgba(26, 117, 221, 0.842);
}

/* Playfield - img copies of selected buttons */
.player .name-selection {
    position: relative;
}
.playerPosition {
    position: absolute;
    left: 70%;
    width: 60px;
    height: auto;
}
.playerPosition img {
    width: 120px;
    height: auto;
}

.opponent .name-selection {
    position: relative;
}
.aiPosition {
    position: absolute;
    right: 70%;
}
.aiPosition img {
    width: 120px;
    height: auto;
}

/* Buttons */
button {
    cursor: pointer;
    background-color: rgba(197, 194, 189, 0.212);
    border-radius: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 60px;
}

